# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional: MacOS directory attributes
.DS_Store

# Optional: Windows directory attributes
Thumbs.db

# Optional: Editor directories and files
.vscode/
*.swp
*.swo

